# PostgreSQL Database Configs (For Local Development Only)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Load Kling AI API Key
KLING_AI_ACCESS_KEY=
KLING_AI_SECRET_KEY=